body{
    background-color: black;
    font-family: 'Inter', sans-serif;
}
.ime{
    color: white;
}
.chto{
    color: white;
}
.container{
    max-width: 1089px;
    margin: auto;
}
.chto-img{
    display: inline-block;
    width: 488px;
    vertical-align: middle;
}
.chto-info{
    display: inline-block;
    width: 442px;
    vertical-align: middle;
    margin-left: 150px;
}
.vred1{
    display: inline-block;
    color: white;
    width: 197px;
}
.vred2{
    display: inline-block;
    color: white;
    width: 204px;
}
.vred3{
    display: inline-block;
    color: white;
    width: 197px;
}
.vred4{
    display: inline-block;
    color: white;
    width: 198px;
}
.vred img{
}
h2{
    font-size: 72px;
}

