body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: auto;
}

h2{
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 50px;
}

p{
    color: white;
}

.history p{
    width: 743px;
    color: white;
    font-family: 'ABeezee';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
