body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1299px;
    margin: auto;
}

.stats-right {
    display: inline-block;
    width: 48%;
}

.stats-left {
    display: inline-block;
    width: 42%;
}


h2 {
    font-family: Inter;
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 50px;
}

p {
    color: white;
}

.history p {
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding-top: 35px;
}

.history-left, .history-right {
    display: inline-block;
    width: 48%;
}

.history-right {
    padding-left: 70px;
}

.history {
    padding-top: 150px;
}

.statistics p {
    padding-top: 45px;
}

ul {
    color: white;
    padding-left: 30px;
}

.explanation-right {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.explanation-left {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

@media(max-width: ){
    .c{
        max-width: 95%;
    }

}