* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1299px;
    margin: auto;
}

img{
    max-width: 100%;
}

header {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 198.89px;
    text-align: center;
}

h1 p {
    font-size: 75.26px;
}

header nav ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    padding-right: 50px;
}

header h1 {
    color: white;
    padding-top: 302px;
    padding-bottom: 233px;
    font-family: 'ABeeZee', sans-serif;
}

header li:first-child {
    padding: 0;
}

main {
    background-color: black;
}

main h2 {
    color: #fff;
}

main nav ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
}

main nav a:hover {
    color: #fff;
    text-decoration: dotted;
    padding-right: 50px;
}

main .obertka div a img {
    width: 218px;
    display: inline-flex;
}

main ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .obertka a img,h4:hover {
    width: 475px;
    font-size: 32px;
}

h4 {
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

main a h4:hover {
    font-size: 32px;
}

main div a h4 {
    text-decoration: none;
    font-size: 18px;
}

.gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 63.38%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
}

main .ten {
    background-image: url(images/variation.png);
    background-size: cover;
    width: 475px;
}

main .obertka{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

main .children, .vape, .rak{
    width: 218px;
}

main .obertka img:hover{
    transform: scale(1.1);
}
